body, html{
	margin: 0;
	padding: 0;
	font-family: verdana;
}

header{
	background: #FF8920;
	box-sizing: border-box;
	color: #FFF;
	height: 90px;
	margin-bottom: 30px;
	padding: 20px;
	text-align: center;
	width: 100%;
}

#filas{
	font-size: 16px;
	margin:0 auto;
	text-align: center;
	width: 80%;
}

#filas tr td{
	border: 1px solid #DB1616;
}

.current{
	color: #3871F2;
	font-weight: bold;
}

.disable{
	color: gray;
}

.Ejercicio1 div{
	border: 2px solid #FF3F3F;
	box-sizing: border-box;
	height: 80px;
	margin: 5px auto;
	padding: 5px;
	width: 90%;
}

.Ejercicios{
	margin: 10px 30px 50px 30px;
}

.InputClass{
	border-radius: 4px;
	border: 1px solid #29EAAD;
	color: #2F3EFF;
	height: 20px;
}

.module{
	border: 1px solid #E90202;
	padding: 10px;
}

.seleccion{
	color: #E70000;
}

.toggle{
	background: #42A4E9;
	height: 30px;
	margin: 0 auto;
	padding: 2px;
	text-align: center;
	width: 97%;
}

.toggle a{
	text-decoration: none;
	color: #FFF;
}